.header-site {
 	background: url(../images/sitebgx.jpeg) no-repeat;
	width: 100%;
	height: 100vh;
}


.card a img {

	height: 400px;

}

.research-text {
	font-size: 1.5rem;
}

.landing-text {
	top: 40%;
	display: flex;
 	justify-content: center;
 	position: relative;
}

#carousel-news {

	height: 40vh;

}


body {
	font-family: 'Maven Pro', sans-serif;
}

a i {

	color: black;

}

footer {
	color: white;
}